<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{% block title_prefix %}{% endblock %}{% block title %}Rapid prototyping{% endblock %}{% block title_sufix
        %}{% endblock %}</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="static/css/style.css" class="cssfx"/>
    <!-- end CSS-->

    <!-- cssfx -->
    <script src="static/js/libs/cssfx.min.js"></script>
    <!-- /cssfx -->

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="static/js/libs/yepnope.1.0.2-min.js"></script>
</head>

<body>

<div id="container">
    {% block header%}
    <header>

    </header>
    {% endblock%}
    <div id="main" role="main">
        {% block content%}

        {% endblock%}
    </div>
    <footer>

    </footer>
</div>
<!--! end of #container -->

<!-- scripts-->
<script>
    // Change UA-XXXXX-X to be your site's ID
    window._gaq = [
        ['_setAccount', 'UAXXXXXXXX1'],
        ['_gat._anonymizeIp'],
        ['_trackPageview'],
        ['_trackPageLoadTime']
    ];
    yepnope([
        {
            //load css
            load: 'static/css/site.css'
        },
            /*
        {
            load: 'static/js/libs/cssfx.min.js'
        },
            */
        {
            load:'//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js',
            complete:function () {
                if (!window.jQuery) {
                    yepnope('static/js/libs/jquery-1.6.1.min.js');
                }
            }
        },
            /*
        {
            load:'static/js/libs/jquery.css3finalize.min.js'
        },
            */
        {
            load:'static/js/plugins.js'
        },
        {
            load:'static/js/script.js'
        },
        {
            load:('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
        }
    ]);
</script>
<!-- end scripts-->

<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload', function () {
    CFInstall.check({mode:'overlay'})
})</script>
<![endif]-->

</body>
</html>
